<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
		<add key="bucket" value="rc-audio.test2/audio" />
    <add key="accessKey" value="AKIAJXRL4477NMZMCOXA" />
    <add key="secretKey" value="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" />
  </appSettings>
</configuration>